{% extends 'base.html.twig' %}

{% block title %}DuckDuck index{% endblock %}

{% block body %}
    <div class="container">
        <h1>DuckDuck Index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Duckname</th>
                <th>Email</th>
                <th>Password</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for duck_duck in duck_ducks %}
                <tr>
                    <td>{{ duck_duck.id }}</td>
                    <td>{{ duck_duck.firstname }}</td>
                    <td>{{ duck_duck.lastname }}</td>
                    <td>{{ duck_duck.duckname }}</td>
                    <td>{{ duck_duck.email }}</td>
                    <td>{{ duck_duck.password }}</td>
                    <td>
                        <a class="btn-success" href="{{ path('duck_duck_show', {'id': duck_duck.id}) }}">show</a><br>
                        <a class="btn-success" href="{{ path('duck_duck_edit', {'id': duck_duck.id}) }}">edit</a><br>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-success" href="{{ path('duck_duck_new') }}">Create new</a>
    </div>
{% endblock %}
