{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">QuackNet</h1>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        <table class="table">
            <thead class="text-center">
            <tr>
                <th>Author Icon</th>
                <th>Author</th>
                <th>CreatedAt</th>
                <th>Image</th>
                <th>Content</th>
                <th>Tags</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quack in quacks %}
                <tr class="jumbotron m-2">
                    <td><img width="100" height="100" src="{{ quack.author.image }}"></td>
                    <td>{{ quack.author.duckname }}</td>
                    <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td><img class="img-thumbnail" src="{{ quack.image }}"></td>
                    <td>{{ quack.content }}</td>
                    <td>{{ quack.tags }}</td>
                    <td>
                        <a class="btn btn-success" href="{{ path('quack_show', {'id': quack.id}) }}">show</a>
                    </td>
                    <td> {% if is_granted('ROLE_USER') and is_granted('quack_edit', quack ) %}
                            <a class="btn btn-success" href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
                        {% endif %}
                    </td>
                    <td>
                        <a class="btn btn-info" href="{{ path('quack_new_comment', {'parent': quack.id}) }}">add comment</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="7"></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-success" href="{{ path('quack_new') }}">Create new</a>
        {% endif %}
    </div>

{% endblock %}
