{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}
    <div class="container">
    <h1 class="text-center">QuackNet</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quack in quacks %}
            <tr>
                <td>{{ quack.id }}</td>
                <td>{{ quack.content }}</td>
                <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('quack_show', {'id': quack.id}) }}">show</a>
                    {% if is_granted('ROLE_USER') %}
                    <a class="btn btn-success" href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted('ROLE_USER') %}
    <a class="btn btn-success" href="{{ path('quack_new') }}">Create new</a>
        {% endif %}
    </div>
{% endblock %}
